body {
    background-color: #ffff;
    height: max-content;
    padding-top: 50px;
}


body::after {
    background: url(gradient.svg);
    background-repeat: no-repeat center;
    background-size: cover;
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.inhoud1 {
    padding-left: 25px;
    padding-top: 100px;
    height: 500px;
    max-width: 800px;
}

h4 {
    color:azure;
}

.ons{
    display: flex;
    justify-content: center;
    padding-top: 700px;
}

/* #bob{
    padding-left: 100%;
   padding-top: -400px;
} */
